body {
    overflow: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--bs-dark);
    border-radius: 10%;
}

.table th {
    border: 1px solid var(--bs-secondary);
    padding: 8px;
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.table td {
    border: 1px solid var(--bs-secondary);
    text-align: left;
    padding: 8px;
}
