@model User

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashLayout";
}

<h1>
    Hi @(Model.Username)!
</h1>

<h4 class="text-muted">
    Welcome to the ErrorViewer dashboard. Here you can explore errors, count them and analyse them (at least that what I wanted to do but idk If I got it at time).
</h4>


