@using ErrorViewer.Functions
@model User

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_DashLayout";
}

<h1>
    Welcome back, @(Model.Username)!
</h1>

<!-- 
<h4>
    There are @SourceManager.sources.Count sources added.
</h4>
-->

<h4 class="">
    Welcome to the ErrorViewer dashboard. Here you can explore errors, count them and analyse them (at least that what I wanted to do but idk If I got it at time).
</h4>

<h4 class="">
    Idk what to put here :/ I'm out of ideas. <br/>
    Firstly I wanted to put there some kind of graphs and etc. but ran out of time :/<br/>
    I hope you like the app anyway! <br/>
</h4>