@{
ViewData["Title"] = "Default Page";
}


<section class="bg-dark p-5">
    <div class="title text-center">
        <h1 class="text-primary">Error Viewer</h1>
        <h4 class="text-secondary">I just got bored and wanted to code something :)</h4>
        <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Login to dashboard</a>
    </div>
</section>

<section class="bg-light p-5 d-flex flex-row justify-content-around text-center">
    <div class="box w-25">
        <i class="bi bi-database fs-1"></i>
        <h4 class="text-secondary">Multiple databases</h4>
        <h6 class="text-secondary">Connect to multiple databases to view even more errors (idk why would u do that)</h6>
    </div>
    <div class="box w-25">
        <i class="bi bi-person-bounding-box fs-1"></i>
        <h4 class="text-secondary">Accounting</h4>
        <h6 class="text-secondary">Create multiple accounts in case u have friends or idk.</h6>
    </div>
    <div class="box w-25">
        <i class="bi bi-check fs-1"></i>
        <h4 class="text-secondary">Simple to use</h4>
        <h6 class="text-secondary">Very easy to use. Just few click and its done!</h6>
    </div>
</section>


